:root {
    --main-green: #10b981;
    --darkest-green: #000403;
    --accent-color: #FFE616;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--main-green);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 0.5);
}

header > p {
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: bold;
    color: var(--darkest-green);
    text-align: center;
}

main {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

footer {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    box-shadow: 0px -5px 5px rgb(0 0 0 / 0.5);
    padding: 20px;
}

a, a:visited {
    color: var(--accent-color);
}
.game_container {
    flex-basis: 1000px;
    display: grid;
    grid-template-rows: auto 0.2fr 1fr auto;
    border-style: solid;
    height: 100%;
    box-sizing: border-box;
}

.controls {
    grid-row: 1 / 2;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.controls input {
    flex: 30%;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 10px;
    padding: 5px 5px;
}

#play_button {
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    color: var(--darkest-green);
}

#play_button:hover {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.5);
}

#play_button:active {
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 0.5);
}

.players {
    grid-row: 2 / 3;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    align-items: center;

}

.players div {
    flex: 1;
    text-align: center;
    color: var(--darkest-green);
    font-size: 1.2rem;
}

.players_turn {
    color: var(--accent-color) !important;
    font-weight: bold;
}

.gameboard {
    grid-row: 3 / 4;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.gameboard_box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.center_box_tb {
    border-left: solid;
    border-right: solid;
}

.center_box {
    border-style: solid;
}

.side_box_center {
    border-top: solid;
    border-bottom: solid;
}

.information {
    grid-row: 4 / 5;
    border-style: solid;
    display: flex;
}

.information div {
    flex: 30%;
    align-self: center;
    text-align: center;
}